<div class="login">
    <section class="login-container">
        <h1 class="title-login">KOPINE LOGIN</h1>
        <div class="login-form">
            <form action="">
                <div class="form-control">
                    <label for="username">Username: </label>
                    <input type="text">
                </div>
                <div class="form-control">
                    <label for="password">Password: </label>
                    <input type="text">
                </div>
                <div class="button-wrapper">
                    <button>Login</button>
                    <button>Reset</button>
                </div>
            </form>
        </div>
    </section>
</div>