<div class="grid">
    <div class="col-6">
        <div class="grid">
            <div class="col-6 logo">KOPINE</div>
            <div class="col-6 login-title">                
                <span>LOGIN</span>
                <span style="margin-left: 8px;">SIGN UP</span>
            </div>
        </div>
        <div class="login">
            <section class="login-container">
                <!-- <h1 class="title-login">KOPINE LOGIN</h1> -->
                <div class="login-form">
                    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                        <div class="form-control">
                            <label for="username">Username: </label>
                            <input formControlName="username" type="text">
                        </div>
                        <div class="form-control">
                            <label for="password">Password: </label>
                            <input formControlName="password" type="text">
                        </div>
                        <div class="button-wrapper">
                            <button type="submit" class="btn-action">Login</button>                            
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
    <div class="col-6 blue">
        Sisi Kanan
    </div>
</div>