<!-- breadcrumb -->
<app-breadcrumb [pageName]="page"></app-breadcrumb>
<!-- breadcrumb -->
<div class="container ecom-about-container">
    <div class="row">
      <div class="col-lg-6 ecom-about-main-container">
  
        <h4 class="ecom-p-title">Tentang Kami</h4>
        <p>Pegunungan Sindoro atau Sundoro terletak di wilayah kabupaten Wonosobo dan Temanggung, Jawa Tengah. Di lereng gunung Sundoro sudah banyak dijumpai tanaman kopi dan sudah cukup lama berproduksi. Para petani di Temanggung dan Wonosobo sudah bisa menanam, mengolah bahkan memasarkan produk kopi mereka. Dengan proses pasca panen yang baik karena sudah mendapat berbagai bekal pelatihan baik dari non pemerintah dan pemerintah, kopi dari pegunungan Sundoro bisa bersaing dengan berbagai kopi terkenal lainnya di Indonesia. 
      </p>
      </div>
      <!-- /.ecom-about-main-container -->
    <!-- .ecom-about-img-container-->
    <div class="col-lg-6 ecom-about-img-container">
        <img src="assets/img/kopine1.jpg" class="ecom-about-main-img" alt="about us">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ecom-infos-container">
        <h4 class="ecom-p-title ecom-sub-title"> Contact :</h4>
        <div>
          <i class="material-icons">
            stay_primary_portrait
          </i>
          <span>Mobile :</span>
          <span>082242132137</span>
        </div>
        <div>
          <i class="material-icons">
            mail_outline
          </i>
          <span>Email :</span>
          <span>kopine@gmail.com</span>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ecom-infos-container">
      <h4 class="ecom-p-title ecom-sub-title"> Alamat :</h4>
        <div>
          <span>Orchid Residence, Nomor F26 No 9,</span>
        </div>
        <div>
          <span>Taman Puri Cendana, Ds Tridaya Sakti RT 17 RW 16</span>
        </div>
        <div>
          <span>Kabupaten Bekasi – Tambun Selatan Provinsi Jawa Barat</span>
        </div>

    </div>

    
    <!-- /.ecom-about-main-container -->
    </div>
  </div>
  <!--.ecom-team-container -->
<div class="container-fluid">
  <app-featured></app-featured>
</div>
<!--/.ecom-team-container -->
  