<div class="col-md-12">
	<div class="card card-container">
		<img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card" />
		<form action="" method="post">
			<div class="form-group">
				<label for="displayName">Display Name</label> 
				<input type="text" class="form-control" name="displayName" [(ngModel)]="register.name" required="">
			</div>
			<div class="form-group">
				<label for="email">Email</label>
				<input type="email" class="form-control" name="email" [(ngModel)]="register.email" required="">
			</div>
			<div class="form-group">
				<label for="email">Mobile pone</label>
				<input type="email" class="form-control" name="email" [(ngModel)]="register.mobile" required="">
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" class="form-control" name="password" [(ngModel)]="register.password" required="">			
			</div>
			<div class="form-group">
				<label for="matchingPassword">Confirm Password</label> 
				<input type="password" class="form-control" name="matchingPassword" [(ngModel)]="register.re_password" required="">
			</div>
			<div class="form-group">
				<input (click)="registerUser()"  type="submit" value="registrasi"/>
			</div>
		</form>
	</div>
</div>
