/*Bg colors*/
$main-bg-color:#000080;
$secondary-bg-color:#333;
$white-bg:#FFF;
$grey-bg:#f8f9f9;
/*Txt colors*/
$txt-first-color:#FFF;
$txt-sec-color:#000080;
/*Colors*/
$main-color:#000080;
$sec-color:#333;
/*Fonts*/
$main-font:'Montserrat', sans-serif; 