@import './variables';

*{
    font-family: $main-font;
}
/********************
Import Google Material
*******************/
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
} 

/**/
.ecom-p-title{
    color:$txt-sec-color;
}

/* Header Atas */
.header-atas {
    width: 100%;
    background-color:skyblue;
    
}

.header-atas ul {
    margin: 0;
    padding: 0;
}

.header-atas li {
    list-style-type: none;
    display: inline-block;
    margin: 10px 10px 10px 30px;
}

.header-atas-kanan {
    display: inline-block;
    float: right;
    margin-right: 10px;
}

.header-bawah ul li {
    list-style-type: none;
    display: inline;
    margin: 5px;
    float: right;
}